/*--------------------------------------------------------------
# Colors General
--------------------------------------------------------------*/

$primary : #4e4039; 
$secondary: #7a6960;
$tertiary : #eb5d1e; 
$quarternary : #ef7f4d; 
$quinary: #f39e7a;
$senary : #fef8f5;
$septenary: #fff;
$octonary: #5a6570;
$nonary: #c2b7b1;
$denary: #212529;