/*--------------------------------------------------------------
# Colors General
--------------------------------------------------------------*/

$primary : #4e4039; 
$secondary : #eb5d1e; 
$tertiary : #ef7f4d; 
$quarternary : #fef8f5;
$quinary: #fff;