
<!-- ======= About Section ======= -->
<section class="about">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="../../../img/background/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <h3 id ="titleAb" data-aos="fade-up">Voluptatem dignissimos provident quasi</h3>
                <p id="presentationAb" data-aos="fade-up" data-aos-delay="100">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore macdgna aliqua. Duis aute irure dolor in reprehenderit
                </p>
                <div class="row">
                    <div class="col-md-6 about-card" data-aos="fade-up" data-aos-delay="100">
                        
                    </div>
                    <div class="col-md-6 about-card" data-aos="fade-up" data-aos-delay="200">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
