<!-- ======= Header ======= -->
<section>
	<header class="fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center justify-content-around">

			<div class="logo">
			  <!--<h1 class="text-light"><a href="index.html"><span>Ninestars</span></a></h1>-->
			  <a href="#landingPage" class="scrollto"><img src="/img/icon/5793088bb21a4e609e944e86314beafd.png" alt="" class="img-fluid"></a>
			</div>

			<nav id="navbar" class="navbar">
				<ul>
				<li><a id="aboutLink" class="nav-link scrollto" href="#about">About Us</a></li>
					<li><a id="servicesLink" class="nav-link scrollto" href="#services">Services</a></li>
					<li><a id="portfolioLink" class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
					<li><a id="teamLink" class="nav-link scrollto" href="#team">Team</a></li>
					<li><a id="faqLink" class="nav-link scrollto" href="#faq">F.A.Q</a></li>
					<li><a id="teamLink" class="nav-link scrollto" href="#team">Team</a></li>
					<li><a id="contactLink" class="nav-link scrollto" href="#contact">Contact</a></li>
					<li><a id="getStartedLink" class="getstarted scrollto" href="#about">Get Started</a></li>
					<li class="dropdown"><a href="#"><span id="langLink">English</span><i class="bi bi-chevron-down"></i></a>
						<ul>
							<li><a href="#" data-lang="en">English</a></li>
							<li><a href="#" data-lang="nl">Nederlands</a></li>
							<li><a href="#" data-lang="fr">Français</a></li>
						</ul>
					</li>
				</ul>
			  	<i id="mobile-nav-button" class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			
		</div>
	</header><!-- End Header -->
</section>